@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
   --color-primary: #090b1a;
   --color-secondary: #1b1938;
   --color-tertiary: #aa5cdb;
   --box-shadow-deafult: 1px 3px 5px rgba(0,0,0,0.2);
}

/* base styles */
* {
   margin: 0;
   font-family: "Quicksand";
   color: #333;
   box-sizing: inherit;
}

body {
  padding: 2rem 0;
  box-sizing: border-box;
}

.nav {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list-item {
  margin-left: 1rem;
}

.nav-list-link {
  display: inline-block;
  padding: .6rem 1.6rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-list-link:hover{
  color: #fff;
  background-color: var(--color-secondary);
}

.logo {
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.logo a {
  text-decoration: none;
}

.homepage {
  max-width: 70%;
  margin: 0 auto;
}

.post-list a {
  text-decoration: none;
}

.post {
  background-color: #f7f7f7;
  padding: .8rem;
  margin-bottom: 1.5rem;
}

.post:hover{
  box-shadow: var(--box-shadow-deafult);
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post-header h1 {
  font-size: 1.1rem;
  color: var(--color-secondary);
}

.post-content p {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.post-list button {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
  padding: .7rem 1.4rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

form {
  max-width: 60%;
  margin: 0 auto;
  padding: 1rem;
}
.post-details {
  width: 70%;
  margin: 0 auto;
  padding: .8rem;
}