@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
   --color-primary: #090b1a;
   --color-secondary: #1b1938;
   --color-tertiary: #aa5cdb;
   --box-shadow-deafult: 1px 3px 5px rgba(0,0,0,0.2);
}

/* base styles */
* {
   margin: 0;
   font-family: "Quicksand";
   color: #333;
   box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.count {
   width: 40%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
}

.counter {
   grid-column: 1 / -1;
}

.btn {
   outline: none;
   border: none;
   padding: .9rem 1.5rem;
   background: var(--color-secondary);
   color: #fff;
}

.btn:hover {
   background: var(--color-primary);
   color: #fff;
}